# Окружение и секреты
.env
*.env
env/
venv/

# Docker данные (чтобы не залить всю базу данных в гит)
pgdata/
db_data/

# Кэш и временные файлы
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store

# Фронтенд
node_modules/
build/
dist/
